<nav>
    <div class="container nav-content">
        <a href="/" class="logo">Social Media App</a>
        <div class="nav-links">
            <a href="/home">Home</a>
            <a href="/posts/new">New Post</a>
            <a href="/users"> Users </a>
            <a href="/profile %>">My Profile</a>
            <a href="/auth/register">Register</a>
            <a href="/auth/login">Login</a>
            <a href="/auth/logout">Logout</a>
        </div>
    </div>
</nav>